.page{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.header-wrapper{
    padding-top: 29px;
    background-color: #F6F2F2;
}
.header{
    display: flex;
    justify-content: center;
    width: 1249px;
    min-height: 89px;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.8);
}
.site-menu{
    margin-left: -30px;
}
.menu-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu-list>li{
    display: flex;
    min-height: 89px;
}

.menu-link{
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #E0E0E0;   
}
.menu-link:hover{
    background-color: #FF3F40;
}
.menu-active{
    background-color: #FF3F40;
}